{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link rel="stylesheet" href="{% static 'stylesheets/signup.css' %}">
</head>
<body>
  <!-- 
    form
    action : 요청 보내는 곳
    method : 요청 보내는 방식
      GET : DB에서 어떠한 값을 꺼내오거나, 단순 요청.
        - URL에 querysring으로 요청이 보내짐
        - ?username=tak&password=123
      POST : DB의 어떠한 값을 추가하거나 삭제하는 경우.
        - HTTP요청의 body (url에 보이지 않음)
        - django에서 POST 요청으로 form을 보내는 경우 보안상의 이유로 항상 csrf_token을 넣어줘야함
  -->
    <form action="/signup_result/" method="POST">
      {% csrf_token %}
      <label for="username">username: </label>
      <input id="username" type="text" name="data_1"><br>
      <label for="password">password: </label>
      <input id="password" type="number" name="data_2"><br>
      <label for="password_confirmation">password_confirmation: </label>
      <input id="password_confirmation" type="number" name="data_3"><br>
      <input type="submit" value="제출!">
    </form>
    <img src="{% static 'images/163788.jpg' %}" alt="배경" width="500px" height="700px">
</body>
</html>