<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <h1>폰트 선택</h1>
  <form action="/services/artii_result/">
    <label for="word">글자를 입력하시오: </label>
      <input id="word" type="text" name="word">
    <label for="font">font를 입력하시오: </label>
      <input list="font" name="font">
    <datalist id="font">
      <option value="rounded">
      <option value="acrobatic">
      <option value="alligator">
      <option value="short">
      <option value="type_set">
    </datalist>
  <input type="submit">
  </form>

</body>
</html>